@keyframes press {
    from {
        opacity: .5;
    }
    
    to {
        opacity: 1;
    }
}

.press {
    text-align: center;
    animation: press 2s ease-in-out alternate infinite;
    font-size: 2em;
    cursor: pointer;
}