:root {
    --outline-color-inactive: #ffffff1a;
    --outline-color-active: #ffffff81;
    --scale: calc(min(1px, .055vw));
    --borderWidth: .2em;
}

* {
    box-sizing: border-box;
}

img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

@font-face {
    font-family: "monogram";
    src: url("../monogram-extended.ttf");
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    /* background: linear-gradient(#3571b1 0%, #6f8eba 60%, #99a4a6); */
    width: 100vw;
    height: 100vh;
}

canvas {
    height: 100vh;
    image-rendering: pixelated;
    scale: 100%;
    transition: scale 2s;
    position: absolute;
    top: 0
}

.cinematicWrapper {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    transition: max-height 2s;
    z-index: 1;
}

.cinematicWrapper.active {
    max-height: 42.8vw;
}

.cinematicWrapper::before,
.cinematicWrapper::after {
    display: block;
    content: "";
    width: 100vw;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(20em) contrast(.5) saturate(3) brightness(.2);
    height: 50vh;
    position: absolute;
}

.cinematicWrapper::before {
    top: -50vh;
}

.cinematicWrapper::after {
    bottom: -50vh;
}

.absolute {
    position: absolute;
}

.fade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    z-index: 20;
    transition: opacity 2s;
    opacity: 0;
}

.centerX {
    position: absolute;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
}

.centerY {
    position: absolute;
    top: 50%;
    bottom: unset;
    transform: translateY(-50%);
}

.centerX.centerY {
    transform: translate(-50%, -50%);
}