:root {
    --borderWidth: 4px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "monogram";
    src: url(monogram-extended.ttf);
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    background: linear-gradient(#3571b1 0%, #6f8eba 60%, #99a4a6);
    width: 100vw;
    height: 100vh;
}

canvas {
    height: 100vh;
    image-rendering: pixelated;
}

.absolute {
    position: absolute;
}

.ui {
    user-select: none;
    background-color: #00000044;
    padding: 20px;
    backdrop-filter: blur(10px);
    transition: transform .1s, outline .1s;
    color: white;
    font-family: 'Bahnschrift';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    border-radius: 5px;
    z-index: 1;
}

.ui .ui {
    backdrop-filter: none;
}

.tooltip {
    outline: none;
}

.label {
    z-index: 0;
    right: unset;
    transform: translateX(-50%);
}

.label::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: var(--borderWidth);
    height: 50px;
    top: -50px;
    background-color: white;
}

.keyPrompt {
    display: inline-block;
    /*
    outline: calc(var(--borderWidth)*.75) solid rgb(255, 255, 255);
    */

    background: white;
    color: black;

    padding: 5px;
    margin: 0px 2px;
    text-transform: uppercase;
    min-width: 29px;
    text-align: center;
}

.button {
    display: block;
    cursor: pointer;
    flex-grow: 0;
    width: fit-content;
    outline: var(--borderWidth) solid rgba(255, 255, 255, 0.101);
}

.button:hover {
    background-color: #0000005d;
    outline: var(--borderWidth) solid rgba(255, 255, 255, 0.504);
    transform: scale(1.06);
}

.centerX {
    position: absolute;
    left: 50%;
    right: unset;
    transform: translateX(-50%);
}

.centerY {
    position: absolute;
    top: 50%;
    bottom: unset;
    transform: translateY(-50%);
}

.centerX.centerY {
    transform: translate(-50%, -50%);
}

#dialogContainer {
    z-index: 2;
    max-width: 80vw;
    bottom: 90px;
    top:90px;
    /* height: fit-content;
    max-height: calc(100% - 100px); */
    display: block;
    justify-content: end;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
    pointer-events: all;
    padding: 100px;
    /* padding-bottom: 20px; */
    border-bottom: var(--borderWidth) solid white;
    background: rgba(0, 0, 0, 0.344);
}

#dialogContainer::-webkit-scrollbar {
    width: 0;
    /*sposition: relative;
    sbackground: transparent;*/
}

#messagesContainer {
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    height: fit-content;
    min-height: calc(100vh);
    bottom: 0;
}

.dialogBox {
    line-height: 1.3em;
    bottom: 100px;
    max-width: 100%;
    height: fit-content;
    text-align: center;
    display: block;
    animation: dialogAppear .2s linear both;
    align-self: center;
}

@keyframes dialogAppear {
    from {
        opacity: 0;
        /* margin-bottom: -80px; */
    }

    50% {
        /* margin-bottom: 0px; */

    }

    to {
        opacity: 1;
    }
}

.dialogLeft {
    align-self: flex-start;
    border-left: var(--borderWidth) solid white;
    text-align: left;
}

.dialogRight {
    align-self: flex-end;
    border-right: var(--borderWidth) solid rgb(244, 109, 233);
    text-align: right;
}

.dialogLeft,
.dialogRight {
    width: fit-content;
}

.dialogChoice {
    background: #00000073;
}

#guiContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Bahnschrift';
    color: white;
}

.splash {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 6em;
    animation: splash 7s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    letter-spacing: .1em;
    font-weight: 100;
    flex-direction: column;
}

.splash::after {
    content: "new biome discovered";
    font-size: .4em;
    display: block;
    letter-spacing: 0;
}

@keyframes splash {
    from {
        opacity: 0;
        letter-spacing: .0em;
    }

    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    to {
        opacity: 0;
        letter-spacing: .05em;
    }
}