* {
    box-sizing: border-box;
}

@font-face {
    font-family: "monogram";
    src: url(monogram-extended.ttf);
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    background: linear-gradient(#3571b1 0%, #6f8eba 60%, #99a4a6);
    width: 100vw;
    height: 100vh;
}

canvas {
    height: 100vh;
    image-rendering: pixelated;
}
