:root{
    --borderWidth: 4px;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: "monogram";
    src: url(monogram-extended.ttf);
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    background: linear-gradient(#3571b1 0%, #6f8eba 60%, #99a4a6);
    width: 100vw;
    height: 100vh;
}

canvas {
    height: 100vh;
    image-rendering: pixelated;
}

.absolute {
    left: 100px;
    top: 100px;
    position: absolute;
}

.ui {
    background-color: #00000044;
    padding: 20px;
    border-bottom: var(--borderWidth) solid white;
    backdrop-filter: blur(10px);
    transition: transform .1s;
    color: white;
    font-family: 'Bahnschrift';
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    flex-direction: column;
}

.ui > .ui {
    backdrop-filter: none;
}

.tooltip{
    border-bottom: none;
}

.label{
    right:unset;
    transform: translateX(-50%);
}

.label::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: var(--borderWidth);
    height:200px;
    bottom:-200px;
    background-color: white;
}

.button {
    cursor: pointer;
}

.button:hover {
    background-color: #0000005d;
    transform: scale(1.06);
}

#guiContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}